
/* ------------------------------------------------------------------------------------------------
------------------------------------------- footer/header/global style ----------------------------
--------------------------------------------------------------------------------------------------- */

 /* -------------------------- header/global ----------------------------------- */

.app-font-global {
    font-family: 'Roboto', sans-serif;    
    background-color: var(--background-color);
}

header {
    background-color: var(--medium-grey-color);
    box-shadow: 0px 3px 3px black; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.app-header-left-empty {
    width: 250px;
    height: 100px;
}
.app-header-middle-logo {
}
.app-header-right-connection {
    width: 250px;
}

.app-connection-button {
    background-color: var(--medium-yellow-color);
    color :var(--medium-grey-color);
    padding: 8px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px var(--dark-grey-color);
    text-decoration: none;
    /* border-radius: 15px; */
}
.app-connection-button:hover {
    background-color: var(--light-yellow-color);
    box-shadow: 3px 3px 3px var(--dark-yellow-color);
    color :black;
}
.app-connection-button:active {
    transform: translateY(3px) translateX(3px);
    box-shadow: 0px 0px 0px var(--dark-yellow-color);
}

.app-menu-background {
    background-color: var(--medium-yellow-color);
    color :white;
    padding: 5px;
    height: 45px;
    box-shadow: 0px 3px 3px var(--dark-yellow-color);
}

.app-menu-background a {
    background-color: var(--medium-grey-color);
    color :var(--medium-yellow-color);
    padding: 8px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px black;
    text-decoration: none;
}

.app-menu-background a:hover {
    background-color: var(--light-grey-color);
    box-shadow: 3px 3px 3px var(--medium-grey-color);
    transition: 0.25s background-color 0.25s box-shadow;
}

.app-menu-background a:active{
    transform: translateY(3px) translateX(3px);
    box-shadow: 0px 0px var(--dark-yellow-color);
} 

 /* -------------------------- footer ----------------------------------- */

 .app-footer-global-flex {
    background-color: var(--medium-yellow-color);
    color: var(--medium-grey-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
    align-content: flex-start;
}

.app-footer-left {
    font-weight: bold;
}

.app-footer-left a {
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    color: var(--medium-grey-color);
    font-size: 15px;
}

.app-footer-middle {
    width: 400px;
}

.app-footer-right {
    padding-bottom: 15px;
}

.app-perso-footer {
    list-style-type: none;
    font-size: 15px;
    line-height: 1.9;
}















/* ------------------------------------------------------------------------------------------------
------------------------------------------- Main page ---------------------------------------------
--------------------------------------------------------------------------------------------------- */







/* ------------------------------------------------------------------------------------------------
------------------------------------------- In showing page ---------------------------------------
--------------------------------------------------------------------------------------------------- */






/* ------------------------------------------------------------------------------------------------
------------------------------------------- booking page ------------------------------------------
--------------------------------------------------------------------------------------------------- */






/* ------------------------------------------------------------------------------------------------
------------------------------------------- movie page --------------------------------------------
--------------------------------------------------------------------------------------------------- */








/* ------------------------------------------------------------------------------------------------
------------------------------------------- contact page ------------------------------------------
--------------------------------------------------------------------------------------------------- */
