
/* ------------------------------------------------------------------------------------------------
------------------------------------------- footer/header/global style ----------------------------
--------------------------------------------------------------------------------------------------- */

 /* -------------------------- header/global ----------------------------------- */

.app-font-global {
    font-family: 'Roboto', sans-serif;    
    background-color: var(--background-color);
}

header {
    background-color: var(--medium-main-color);
    box-shadow: 0px 3px 3px black; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.app-header-left-empty {
    width: 250px;
    height: 100px;
}
.app-header-middle-logo {
}
.app-header-right-connection {
    width: 250px;
}

.app-connection-button {
    background-color: var(--medium-secondary-color);
    color :var(--medium-main-color);
    padding: 8px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px var(--dark-main-color);
    text-decoration: none;
    /* border-radius: 15px; */
}
.app-connection-button:hover {
    background-color: var(--light-secondary-color);
    box-shadow: 3px 3px 3px var(--dark-secondary-color);
    color :black;
}
.app-connection-button:active {
    transform: translateY(3px) translateX(3px);
    box-shadow: 0px 0px 0px var(--dark-secondary-color);
}

.app-menu-background {
    background-color: var(--medium-secondary-color);
    color :white;
    padding: 5px;
    height: 45px;
    box-shadow: 0px 3px 3px var(--dark-secondary-color);
}

.app-menu-background a {
    background-color: var(--medium-main-color);
    color :var(--medium-secondary-color);
    padding: 8px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px black;
    text-decoration: none;
}

.app-menu-background a:hover {
    background-color: var(--light-main-color);
    box-shadow: 3px 3px 3px var(--medium-main-color);
    transition: 0.25s background-color 0.25s box-shadow;
}

.app-menu-background a:active{
    transform: translateY(3px) translateX(3px);
    box-shadow: 0px 0px var(--dark-secondary-color);
} 

 /* -------------------------- footer ----------------------------------- */

 .app-footer-global-flex {
    background-color: var(--medium-secondary-color);
    color: var(--medium-main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
    align-content: flex-start;
}

.app-footer-left {
    font-weight: bold;
}

.app-footer-left a {
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    color: var(--medium-main-color);
    font-size: 15px;
}

.app-footer-middle {
    width: 400px;
}

.app-footer-right {
    padding-bottom: 15px;
}

.app-perso-footer {
    list-style-type: none;
    font-size: 15px;
    line-height: 1.9;
}


/* ------------------------------------------------------------------------------------------------
------------------------------------------- Main page ---------------------------------------------
--------------------------------------------------------------------------------------------------- */







/* ------------------------------------------------------------------------------------------------
------------------------------------------- In showing page ---------------------------------------
--------------------------------------------------------------------------------------------------- */






/* ------------------------------------------------------------------------------------------------
------------------------------------------- booking page ------------------------------------------
--------------------------------------------------------------------------------------------------- */

.app-flex-box-main {
    background-color: rgba(0, 0, 255, 0.473);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    margin-right: 500px;
}

.app-flex-box-main-box-left {
    background-color: rgba(9, 255, 0, 0.473);
    width: 500px;
}

.app-flex-box-main-form {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    align-items: flex-end;
}

.app-flex-box-main-form-movie {
background-color: rgba(255, 0, 0, 0.466);
width: 500px;

}
.app-flex-box-main-box-left_text {
    display: inline-block;
    padding: 10px;
    width: 180px;

}
.app-booking-select {
    display: inline-block;

}
.app-flex-box-main-form-day {
    background-color: rgba(0, 174, 255, 0.466);
    width: 500px;

}

.app-flex-box-main-form-show {
    background-color: rgba(217, 255, 0, 0.466);
    width: 500px;

}

.app-flex-box-main-button {
    background-color: rgba(204, 0, 255, 0.466);
}

.app-booking-button {
    margin-top: 20px;
    width: 100px;

}
.app-flex-box-main-box-middle {
    background-color: rgba(255, 0, 149, 0.473);

}

.app-flex-box-main-box-right {
    background-color: rgba(0, 153, 255, 0.473);

}

/* ------------------------------------------------------------------------------------------------
------------------------------------------- movie page --------------------------------------------
--------------------------------------------------------------------------------------------------- */








/* ------------------------------------------------------------------------------------------------
------------------------------------------- contact page ------------------------------------------
--------------------------------------------------------------------------------------------------- */
